
    <h1>About us</h1>
    <p>ini halaman about</p>
    <!-- <img src="./img/eric.jpg" alt="" srcset=""> -->
    <div class="col-lg-6 col-lg-6">
        <img src="img/eric.jpg" alt="" class="img-fluid rounded" />
        <div></div>
        <h5 class="card-title text-lg font-bold">Universitas Multi Data Palembang</h5>
        <p class="card-text text-gray-700">Kampus Berinovasi, kampus yang nyaman seluruh fasilitas di dalam kampus</p>
    </div>  
    
