<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        table{
            width: 100%;
            border-collapse: collapse;
        }
        th,td {
            border: 1px solid salmon;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: aqua;
        }
    </style>
</head>
<h1>Fakultas</h1>
<form action="/fakultas/store" method="POST">
    <div class="mb-3">
      <label for="nama" class="form-label">Nama Fakultas</label>
      <input type="text" class="form-control" id="nama" name="nama" required />
    </div>
    <div class="mb-3">
      <label for="singkatan" class="form-label">Singkatan</label>
      <input
        type="text"
        class="form-control"
        id="singkatan"
        name="singkatan"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Tambah Fakultas</button>
  </form>
  
<table class="table table-striped">
    <tr>
        <th>Fakultas</th>
        <th>Singkatan</th>
    </tr>
    <% fakultas.forEach(data => {%>
    <tr>
        <td><%= data.nama %></td>
        <td><%= data.singkatan %></td>
    </tr>
    <% }) %>
</table>