<div class="container my-5">
    <h2>Data Fakultas</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nama Fakultas</th>
          <th>Singkatan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data Fakultas akan di-loop di sini -->
        <tr>
          <td>1</td>
          <td>Fakultas Ilmu Komputer dan Rekayasa</td>
          <td>FIKR</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fakultas Ilmu Komputer dan Rekayasa</td>
            <td>FIKR</td>
          </tr>
      </tbody>
    </table>
  </div>