<div class="container my-5">
    <h2>Data Prodi</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nama Prodi</th>
          <th>Singkatan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data Fakultas akan di-loop di sini -->
        <tr>
          <td>1</td>
          <td>Sistem Informasi</td>
          <td>SI</td>
        </tr>
        <tr>
            <td>2</td>
            <td>informatika</td>
            <td>IF</td>
          </tr>
      </tbody>
    </table>
  </div>